name: Deploy to Coolify

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Coolify Deploy
        run: |
          curl -X GET \
            -H "Authorization: Bearer ${{ secrets.COOLIFY_CARITA_TOKEN }}" \
            "https://apps.telegraphic.app/api/v1/deploy?uuid=l4w08sk0g0sc4wscs08owwg4&force=true"
